<p id="notice"><%= notice %></p>

<h1>Listing Hoteljunks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hoteljunks.each do |hoteljunk| %>
      <tr>
        <td><%= hoteljunk.name %></td>
        <td><%= link_to 'Show', hoteljunk %></td>
        <td><%= link_to 'Edit', edit_hoteljunk_path(hoteljunk) %></td>
        <td><%= link_to 'Destroy', hoteljunk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hoteljunk', new_hoteljunk_path %>
