<h2>SAP4 Landing MVP</h2>

<div class="form-group" style="margin-top: -10px; margin-left: -20px; margin-bottom: -50px; padding-bottom: 20px">
  <div class="panel panel-default">
    <div class="panel-body landing-panel-sap">
      <div class="container-fluid">
        <div class="text-right" style="padding-top: 4px">
	        <div class="row row-centered">
	          <% @stories.each do |story| %>
	            <div class="col-sm-4 col-centered text-left story_div" style="margin-right: -15px">
						    <% if story.images.first.try(:url) %>
						      <div class="pull-left"><%= image_tag story.images.first.url.full_url, :width =>1000 %></div>
						    <% end %>
                <div class="story-text-block">

                  <% if story.editor_tagline.present? %>
                    <p style="font-family: Arial Narrow; font-size:1.2em; margin-bottom: 2%">
                      <em><%= story.editor_tagline %></em><meta itemprop="comment" content="<%= story.editor_tagline %>">
                    </p>
                  <% end %>

                   <p style="font-color: black;font-size:1.1em; font-weight: bold; display: inline">
                     <%= link_to story.title, story_path(story) %><br><br>
                  </p>

                  <p><%= story.description %></p>

                </div>
	            </div>
						<% end %>
					</div>
				</div>
      </div>
		</div>
	</div>
</div>