<div class="form-group" style="margin-top: 25px; margin-left: -30px; margin-right: -25px; margin-bottom: 10px">
  <div class="panel panel-default">
    <div class="panel-body landing-panel-sap">
      <div class="container-fluid" style="margin-top:10px">
        <div class="text-right" style="padding-top: 4px">
	        <div class="row left-margin-sap">
	          <% @stories.each do |story| %>
	            <div class="col-sm-4 col-centered text-left story_div" style="margin-right: -15px">

						      <div class="pull-left">
						        <% if story.images.first.try(:url) %>
						          <%= link_to image_tag(story.images.first.url.full_url, :width =>1000, :class => "img-responsive"), story_path(story) %>
						        <% else %>
						          <%= link_to image_tag("http://media-cdn.tripadvisor.com/media/photo-s/04/26/a1/73/family-restuarant.jpg", :width =>1000, :class => "img-responsive"), story_path(story) %>
						        <% end %>
						      </div>

	                <!-- calc image proportions -->
		              <% if story.images.first.try(:image_size_h) && story.images.first.try(:image_size_v) %>
	                  <% image_prop = story.images.first.image_size_v.to_f / story.images.first.image_size_h.to_f unless story.images.first.image_size_h.nil? %>
	                  <% @desc_trunc = 270 + ((0.7 - (image_prop ||= 0.7)) * 1000) %> <!-- calc the desc length; base px was 220 -->
	                  <% @desc_trunc = @desc_trunc < 75 ? 75 : @desc_trunc %> <!-- set min desc length to 75px -->
			            <% else %>
	                  <% @desc_trunc = 75 %>
			            <% end %>


                <div class="story-text-block">

                  <% if story.editor_tagline.present? %>
                    <p style="font-family: Arial Narrow; font-size:1.2em; margin-bottom: 2%">
                      <em><%= story.editor_tagline %></em><meta itemprop="comment" content="<%= story.editor_tagline %>">
                    </p>
                  <% end %>

                  <p style="font-color: black;font-size:1.1em; font-weight: bold; display: inline">
                     <%= link_to story.title, story_path(story) %>
                  </p>

                  <p class="text-muted" style="margin-bottom: 2%">
	                  <% if story.mediacorp.try(:title) %>
	                    <%= story.mediacorp.title %>&nbsp;&nbsp;&nbsp;
	                  <% else %>
                      <%= "San Diego Union Tribune" %>&nbsp;&nbsp;&nbsp;
	                  <% end %>
	                  <%= "6/1/2014" %>
	                </p>

                  <p style="font-size: 13px"><%= story.description.truncate(@desc_trunc, :separator => ' ') %></p>

                  <% if user_signed_in? %>
                    <% if story_saved?(story.id,current_user.id) %>
                      <p class="story-actions-links story-actions" id="forget_story">
                        <%= link_to "TAKE THESE PLACES OFF MY MAP", "javascript:void(0)", class: 'forget_story_link', 'data-story-id' => story.id %>
                      </p>
                    <% else %>
                      <p class="story-actions-links story-actions" id="save_story">
                        <%= link_to "SAVE PLACES TO MY MAP", "javascript:void(0)", class: 'save_story_link', 'data-story-id' => story.id %>
                      </p>
                    <% end %>
                  <% else %>
                    <p class="story-actions-links story-actions" id="save_story">
                      <%= link_to "SAVE PLACES TO MY MAP", "javascript:void(0)", class: 'cannot_save_story_link' %>
                    </p>
                  <% end %>

                </div>
	            </div>
						<% end %>
					</div>
				</div>
      </div>
		</div>
	</div>
</div>