<%= form_for(@story) do |f| %>

  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
        <% @story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
		<div class="field">
		  <h4>Story</h4>
		  <%= f.label :title %>
		  <%= f.text_field :title, size: 50, maxlength: 250 %>
		</div>
	</div>

  <div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
		  <%= f.fields_for :images, @story.images do |story_images| %>
	      <div class="row" style="padding-bottom: 6px">
	        <div class="col-xs-5 col-sm-3 col-md-2" style="margin-right: auto;">
		        <%= image_tag(story_images.url.full_url, :width =>200) %>
	          <%= story_images.check_box :_destroy %>
	          <%= story_images.label :_destroy, 'delete' %>
	        </div>

        <div class="col-xs-5 col-sm-3 col-md-2" style="margin-right: auto;">

          <%= story_images.label "Horiz px" %>
				  <%= story_images.text_field :image_size_h, size: 5, maxlength: 5 %><br>
          <%= story_images.label "Vertical px" %>
				  <%= story_images.text_field :image_size_v, size: 5, maxlength: 5 %>
	      </div>
      </div>
		  <% end %>
  </div>

  <div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
		<h4>Places</h4>
		<%= f.fields_for :places, @story.places do |story_places| %>
		  <div class="place_fields">
		    <div class="field">
		      <%= story_places.label :title %>
		      <%= story_places.text_field :name %>
		      <%= story_places.check_box :_destroy %>
		      <%= story_places.label :_destroy, 'delete' %>
		    </div>
		  </div>
		<% end %>
	  <div class="actions">
	    <%= f.submit "Save" %>
	  </div>
	<% end %>
</div>

<%= link_to 'Back To This Story', @story %> |
<%= link_to 'All Stories', stories_path %>