<%= form_for(@story) do |f| %>

  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this from being saved:</h2>

      <ul>
        <% @story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
		<div class="field">
		  <h4>Story</h4>
		  <%= f.label :title %>
		  <%= f.text_field :title, size: 50, maxlength: 250 %>
		</div>
	</div>

  <div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
	  <%= f.fields_for :images do |i| %>
      <%= i.fields_for :url do |u| %>

	      <div class="row" style="padding-bottom: 6px">
	        <div class="col-xs-5 col-sm-3 col-md-2" style="margin-right: auto;">
	          <%= image_tag(u.object.full_url, :width =>250) %>

		        <% if false %>
		          <%= i.check_box :_destroy %>  // don't want to enable image delete right now. user should just update existing //
		          <%= i.label :_destroy, 'delete' %>
		        <% end %>

		        </div>

	        <div class="col-xs-5 col-sm-3 col-md-2" style="margin-right: auto;">
	          <%= i.label "Horiz px" %>
					  <%= i.text_field :image_size_h, size: 5, maxlength: 5 %><br>
	          <%= i.label "Vertical px" %>
					  <%= i.text_field :image_size_v, size: 5, maxlength: 5 %>

	        </div>
	      </div>

        <%= u.text_field :full_url, size: 100, maxlength: 500 %>

  <% end %>
	  <% end %>
  </div>

  <div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
		<h4>Places</h4>
		<%= f.fields_for :places, @story.places do |story_places| %>
		  <div class="place_fields">
		    <div class="field">
		      <%= story_places.label :title %>
		      <%= story_places.text_field :name %>
		      <%= story_places.check_box :_destroy %>
		      <%= story_places.label :_destroy, 'delete' %>
		    </div>
		  </div>
		<% end %>
	  <div class="actions">
	    <%= f.submit "Save" %>
	  </div>
	<% end %>
</div>

<%= link_to 'Back To This Story', @story %> |
<%= link_to 'All Stories', stories_path %>