<div class="panel top-margin-sap" >

  <div class="container left-margin-zero-sap">
    <div class="row">
      <div class="col-xs-2 col-sm-3 col-md-2" style="padding-left: 0px">
        <h3 class="search-text" style="margin-top: 0px">Find Stories</h3>
      </div>

      <div class="col-xs-10 col-sm-9 col-md-10">
        <%= form_tag nil, method: :get do %>
          <%= text_field_tag :search, params[:search], placeholder: "Enter Title" %>&nbsp;
          <%= submit_tag 'Search', class: 'btn btn-sm btn-primary' %>
        <% end %>
        <%= link_to 'Clear Search', stories_path %>
      </div>

    </div>
  </div>
</div>

<%= will_paginate @stories %>
<div class="panel">

  <% @stories.each do |story| %>

    <div class="container left-margin-zero-sap">
      <div class="row" style="padding-bottom: 6px">
        <div class="col-xs-5 col-sm-3 col-md-2" style="margin-right: auto;">
	        <% if story.images.first.try(:url) %>
			      <%= link_to image_tag(story.images.first.url.full_url, :width =>2000), story_path(story), target: '_blank' %>
					<% else %>
            <%= link_to image_tag("https://goo.gl/wYN8RE", :width =>200), story_path(story), target: '_blank' %>
        <% end %>
				</div>

			  <div class="col-sm-9 col-md-6"><hr style="margin-top: 0px; margin-bottom: 1px;">
			    <p  style="font-size: 1.3em; font-family: 'Roboto Condensed'; margin-bottom: 3px"><%= link_to story.title, story_path(story) %></p>
			    <% if story.mediacorp.try(:title) %>
					  <p style="display:inline; font-weight: bold"><%= story.mediacorp.title %></p>&nbsp;&nbsp;&nbsp;
				  <% end %>
			    <% if story.try(:description) %>
					  <p style="display:inline;"><%= story.description.truncate(150, :separator => ' ') %></p>
				  <% else %>
				    <p>(No Description Found)</p><
				  <% end %>
				</div>
			</div>
		</div>
  <% end %>

  <%= will_paginate(@stories) %>
</div>