<div class="panel top-margin-sap" style="font-size: 18px; font-weight: 500">
  <p style="margin-bottom: 0px"><%= link_to @story.title, @story.urls.first.full_url, target: '_blank' %>&nbsp;&nbsp;
	  <a href=<%= @story.urls.first.full_url %> target="_blank">
	    <span class="glyphicon glyphicon-globe"></span>
	  </a>
  </p>
</div>

<div class="panel">
	<div class="container" style="margin-left: -15px">
	  <div class="row" style="padding-bottom: 6px; font-weight: 300">
	    <div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
	      <strong><%= @story.editor_tagline %></strong>
		    <p style="margin-top: 5px">
		      <% if @story.mediacorp.try(:title) %>
		        <%= @story.mediacorp.title %>.&nbsp;
		      <% end %>
			    <% if @story.try(:description) %>
		        <%= @story.description %>
			    <% else %>
		        <p style="color: #D9D9D9; display: inline">(no description)</p>
			    <% end %>
		    </p>

	      <div class="row" style="margin-top: 10px;padding-bottom: 6px">
	        <div class="col-xs-3 col-sm-2 col-md-1">
	          Author
	        </div>
	        <div class="col-xs-9 col-sm-9 col-md-11">
	          <% if @story.authors.count > 0 %>
	            <ul>
	              <% @story.authors.each do |author| %>
	                <li><%= author.first_name %>&nbsp;<%= author.last_name %></li>
	              <% end %>
	            </ul>
	          <% else %>
	            <p style="color: #D9D9D9; display: inline" >(no author)</p>
	          <% end %>
	        </div>
	      </div>

	      <div class="row" style="padding-bottom: 6px">
	        <div class="col-xs-3 col-sm-2 col-md-1">
	          Category
	        </div>
	        <div class="col-xs-9 col-sm-9 col-md-11">
	          <% if @story.story_categories.count > 0 %>
	            <ul>
	              <% @story.story_categories.each do |category| %>
	                <li><%= category.name %></li>
	              <% end %>
	            </ul>
	          <% else %>
	            <p style="color: #D9D9D9; display: inline">(no category)</p>
	          <% end %>
	        </div>
	      </div>
	    </div>

	    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-7 img-story-sap"><br>
	      <% if @story.images.first.try(:url) %>
	        <%= link_to image_tag(@story.images.first.url.full_url), @story.urls.first.full_url, target: '_blank' %>
	      <% else %>
	        <%= link_to image_tag("https://goo.gl/wYN8RE"), @story.urls.first.full_url, target: '_blank' %>
	      <% end %>
	    </div>

	  </div>
	</div>
</div>

<div class="panel">
	<% place_count = @story.places.count %>
  <h4>Explore <%= pluralize(place_count, 'Place') %> in this Story&nbsp;&nbsp;
    <%= link_to "Map View", story_places_map_path(@story), class: 'btn btn-info' %></h4>
  <ul>
    <% @story.places.each do |place| %>
      <li><%= link_to place.full_name, place_path(place) %></li>
    <% end %>
  </ul>
</div>

<div style="float:left; position:absolute;"><%= link_to 'Back to Stories List', stories_path %></div>
