<h2><%= @story.title %> [STORY]</h2>

<div class="panel">
  <h4 style="float:left" >Id&nbsp;&nbsp;</h4>
	<div style="padding-top: 11px;" ><%= @story.id %></div>
  <h4 style="clear:left" >Title/Description</h4>
  <%= @story.title %>&nbsp;&nbsp;
  <%= @story.description %>
</div>

<div class="panel">
  <h4>Authors</h4>
  <ul>
    <% @story.authors.each do |author| %>
      <li><%= author.first_name %>&nbsp;
          <%= author.last_name %></li>
    <% end %>
  </ul>
</div>

<div class="panel">
  <h4>Categories</h4>
  <ul>
    <% @story.story_categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>
</div>

<div class="panel">
  <h4>Places&nbsp;&nbsp;  <%= link_to "Map", story_places_map_path(@story), class: 'btn btn-info' %></h4>
  <ul>
    <% @story.places.each do |place| %>
      <li><%= link_to place.full_name, place_path(place) %></li>
    <% end %>
  </ul>
</div>

<div class="panel">
  <h4>Urls</h4>
  <ul>
    <% @story.urls.each do |url| %>
      <li><%= url.full_url %></li>
    <% end %>
  </ul>
</div>

<% if @story.images.first.try(:url) %>
	<%= @story.images.first.url.full_url %><br>
	<div class="pull-left"><%= image_tag @story.images.first.url.full_url, :width =>200 %></div>
<% end %>

<div style="float:left; position:absolute; padding-top:140px;"><%= link_to 'Back to Stories Index', stories_path %></div>
