<div class="panel top-margin-sap" style="padding-bottom: 0px; padding-right: 5px" >
  <p class="search-text" style="font-size: 1.4em; display: inline">Search My Saved Stories</p>&nbsp;&nbsp;
  <p style="font-size: 1.1em; display: inline"> <%= link_to "(or All Stories)", stories_path %></p>
  <div class="container left-margin-zero-sap">
    <div class="row" style="padding-top: 5px">
      <%= form_tag nil, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Enter Saved Story Title" %>&nbsp;
        <%= submit_tag 'Search', class: 'btn btn-sm btn-primary' %>
      <% end %>
      <p style="font-size: .8em; line-height: 80%">&nbsp;<%= link_to 'clear search', my_storiesandplaces_path %></p>

    </div>
  </div>
</div>

<div class="panel">
  <div class="container left-margin-zero-sap">

		<table class="table table-condensed">
			<caption style="font-size: 1.22em; font-weight: 400; text-align: center; padding: 0">My Saved Stories and Places</caption>
		  <thead>
		  <tr>
		    <th><p class="hidden-xs" style="display: inline">Saved</p>&nbsp;</th>
		    <th><p style="display: inline">Story followed by Places</p></th>
		    <th colspan="4"></th>
		  </tr>
		  </thead>

		  <tbody>
		    <% @my_stories.each do |s| %>
			    <tr>
			      <td><%= s.created_at.in_time_zone("Pacific Time (US & Canada)").try(:strftime, "%b %d, %Y") %> </td>
			      <td>
			        <%= link_to s.story.title,  "stories/" + s.story_id.to_s %>
			        <% if s.story.mediacorp.try(:title) %>
			          <em><p style="display: inline; font-size: .9em" class="text-muted">&nbsp;&nbsp; by <%= s.story.mediacorp.title %></p></em><br>
			        <% end %>
				      <p style="font-size: .5em"></p>
				      <p style="display: inline" >
				        <% s.usersavedplaces.each do |usp| %>
				          <% if usp.place.try(:name) %>
						      <%= link_to usp.place.name, "places/" + usp.place.id.to_s if usp.place.try(:name) %>&nbsp;
						      <em><p class="text-muted" style="display: inline; font-size: .9em"> in <%= usp.place.location.city %>, <%= usp.place.location.state %><br></p></em>
					        <% end %>
				        <% end %>
				      </p>
			      </td>
			      <td style="line-height: 1.0">&nbsp;<%= button_to 'Forget', destroy_usersavedstories_path(s.story_id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-forget' %>&nbsp;</td>
			    </tr>
		    <% end %>
		  </tbody>
		</table>
  </div>
</div>