<h2>Places Index (most recent first)</h2>

<div class="panel">
  <%= form_tag nil, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by Name" %>
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
  <% end %>
  <%= link_to 'Clear Search', places_path %>
</div>

<%= will_paginate @places %>
	<div class="panel">
	  <% @places.each do |place| %>
	    <h4><%= link_to place.full_name, place_path(place) %></h4>
	  <% end %>
	<div class="panel">
<%= will_paginate(@places) %>
