<div class="panel top-margin-sap right-padding-zero-sap" >
  <div style="font-size: 18px; font-weight: 500">
		<% @place_url = @place.urls.where(url_type: 'Owner').pluck("full_url") %>
		<% @place_url = @place.urls.where(url_type: 'Owner').pluck("full_url") %>
	  <p><%= link_to @place.name, @place_url[0], target: '_blank' %>&nbsp;&nbsp;
	    <a href=<%= @place.urls.first.full_url %>  target="_blank" >
	      <span class="glyphicon glyphicon-globe"></span>
	    </a>
	  </p>
	</div>

  <div class="container" style="margin-left: -15px">
    <div class="row" style="padding-bottom: 6px; font-weight: 300">
      <div class="col-lg-6 col-md-8 col-sm-9 col-xs-12">

        <% if @place.try(:description) %>
          <%= @place.description %><br>
	      <% else %>
	        <p style="color: #D9D9D9; display: inline">(no description)</p>
	      <% end %>

				<div style="font-weight: 500; line-height:2.2em" >
				  <% if @location %>
				    <%= @location.address1 %>&nbsp;&nbsp;
				    <%= @location.city %>,&nbsp;
				    <%= @location.state %>&nbsp;&nbsp;
				    <% if @location.zip_code %>
				      <%= @location.zip_code.postal_code %>&nbsp;&nbsp;
				    <% end %>
					<% else %>
				    <p style="color: #D9D9D9; display: inline">(no address)</p>
				<% end %>
				</div>

			</div>
		</div>
	</div>

  <div class="container" style="margin-left: -15px">
    <div class="row" style="padding-bottom: 6px">
      <div class="col-xs-2 col-sm-1 col-md-1">
        Category
      </div>
      <div class="col-xs-10 col-sm-11 col-md-11">
        <% if @place.place_categories.count > 0 %>
          <ul style="padding-left: 20px;">
            <% @place.place_categories.each do |category| %>
              <li><%=  category.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p style="color: #D9D9D9; display: inline">(no category)</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="panel right-padding-zero-sap">

  <% story_count = @place.stories.count %>
  <h4>Read about this Place in <%= pluralize(story_count, 'Story') %>&nbsp;&nbsp;
    <%= link_to "Map View", place_map_path(@place), class: 'btn btn-info' %></h4>
  <ul style="padding-left: 20px;">
    <% @place.stories.each do |story| %>
      <li><%= link_to story.title, story_path(story) %></li>
    <% end %>
  </ul>
</div>

<% if @place_urls %>
  <% place_cnt = @place.urls.count %>
  <div class="panel">
		<h4>External <%= "Link".pluralize(place_cnt) %> for this Place </h4>
		  <ul style="padding-left: 20px;">
		    <% @place.urls.each do |url| %>
		      <li><%= link_to url.url_type + ' website', url.full_url, target: '_blank' %></li>
		    <% end %>
		  </ul>
	</div>
<% end %>

<%= link_to 'Back to Places Index', places_path %>
