<div class="panel top-margin-sap right-padding-zero-sap" >
  <div style="font-size: 18px; font-weight: 500">
		<% @place_url = @place.urls.where(url_type: 'Owner').pluck("full_url") %>
		<% @place_url = @place.urls.where(url_type: 'Owner').pluck("full_url") %>
	  <p><%= link_to @place.name, @place_url[0], target: '_blank' %>&nbsp;&nbsp;
	    <a href=<%= @place.urls.first.full_url %>  target="_blank" >
	      <span class="glyphicon glyphicon-globe"></span>
	    </a>
	  </p>
	</div>

  <div class="container" style="margin-left: -15px">
    <div class="row" style="padding-bottom: 6px; font-weight: 300">
      <div class="col-lg-6 col-md-8 col-sm-9 col-xs-12">

        <% if @place.try(:description) %>
          <%= @place.description %><br>
	      <% else %>
	        <p style="color: #D9D9D9; display: inline">(no description)</p>
	      <% end %>

				<div style="font-weight: 500; line-height:2.2em" >
				  <% if @location %>
				    <%= @location.address1 %>&nbsp;&nbsp;
				    <%= @location.city %>,&nbsp;
				    <%= @location.state %>&nbsp;&nbsp;
				    <% if @location.zip_code %>
				      <%= @location.zip_code.postal_code %>&nbsp;&nbsp;
			      <% end %>
				    <%= link_to "Map View", place_map_path(@place), class: 'btn btn-info btn-sm' %>
					<% else %>
				    <p style="color: #D9D9D9; display: inline">(no address)</p>
					<% end %>
				</div>

			</div>
		</div>
	</div>

  <div class="container" style="margin-left: -15px">
    <div class="row" style="padding-bottom: 6px">
      <div class="col-xs-2 col-sm-1 col-md-1">
        Category
      </div>
      <div class="col-xs-10 col-sm-11 col-md-11">
        <% if @place.place_categories.count > 0 %>
          <ul style="padding-left: 20px;">
            <% @place.place_categories.each do |category| %>
              <li><%=  category.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p style="color: #D9D9D9; display: inline">(no category)</p>
        <% end %>
      </div>
    </div>
  </div>

</div>

<% story_count = @place.stories.where(ready_for_display: true).count %>
<% if story_count != 0 %>
	<div class="panel right-padding-zero-sap">
	  <h4>Read about this Place in <%= pluralize(story_count, 'Story') %></h4>
	  <ul style="padding-left: 20px;">
	    <% @place.stories.where(ready_for_display: true).each do |story| %>
	      <li style="display: inline; line-height: 2em" >
	      <% if user_signed_in? %>
	        <% @saved_story_count = Usersavedstory.where(story_id: story, user_id: current_user.id.to_i).count %>
	        <% if @saved_story_count < 1 %>
	          <p style="display: inline"><%= link_to 'Save Story', save_story_show_path(story),
                           class: 'btn btn-success btn-xs', style: 'padding: 2px 9px' %>&nbsp;</p> </li>
	        <% else %>
	          <p style="display: inline"><%= link_to 'Forget Story', forget_story_show_path(story),
                           class: 'btn btn-danger btn-xs', style: 'padding: 2px 5px' %>&nbsp;</p> </li>
	        <% end %>
	      <% end %>&nbsp;&nbsp;
	      <%= link_to story.title, story_path(story) %><br>

	    <% end %>
	  </ul>
	</div>
<% end %>

<% place_cnt = @place.urls.count %>
<div class="panel">
	<h4>External <%= "Link".pluralize(place_cnt) %> for this Place </h4>
	  <ul style="padding-left: 20px;">
	    <% @place.urls.each do |url| %>
	      <li><%= link_to url.url_type = 'Owner' ? 'Business Website' : url.url_type, url.full_url, target: '_blank' %></li>
	    <% end %>
	  </ul>
</div>

<%= link_to 'Back to Places Index', places_path %>
