<h2><%= @place.full_name %> [PLACE]</h2>

<div class="panel">
  <h4>Title/Description</h4>
  <%= @place.name %>&nbsp;&nbsp;
  <%= @place.description %>
</div>

<div class="panel">
  <h4>Categories</h4>
  <ul>
    <% @place.place_categories.each do |category| %>
      <li><%=  category.name %></li>
    <% end %>
  </ul>
</div>

<div class="panel">
  <h4>Stories</h4>
  <ul>
    <% @place.stories.each do |story| %>
      <li><%= link_to story.title, story_path(story) %></li>
    <% end %>
  </ul>
</div>

<div class="panel">
  <h4>Location</h4>
  <% if @location %>
		<%= @location.address1 %>&nbsp;&nbsp;
		<%= @location.city %>,&nbsp;
		<%= @location.state %>&nbsp;&nbsp;
		<% if @location.zip_code %>
			<%= @location.zip_code.postal_code %>&nbsp;&nbsp;
		<% end %>
    <dl>
      <dt>Lat :&nbsp;&nbsp;<%= @location.lat %></dt>
      <dt>Lng :&nbsp;&nbsp;<%= @location.lng %></dt>
    </dl>
    <div><%= link_to 'More Location Info', location_path(@location) %>&nbsp;(may or may not be available)</div>
  <% end %>
</div>

<div class="panel">
  <h4>Urls</h4>
  <ul>
    <% @place.urls.each do |url| %>
      <li><%= url.urlable_type %>&nbsp;Url– &nbsp;<%= url.full_url %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back to Places Index', places_path %>
